<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users page</title>
</head>
<body>
<div th:align="center">
    <h1>User management page</h1>
    <form th:method="GET" th:action="@{/admin/new}">
        <input type="submit" value="Create new user"/>
    </form>
    <br><br>
   <table th:border="1" th:cellpadding="10">
       <thead>
       <tr>
           <th>User Id</th>
           <th>First name</th>
           <th>Last name</th>
           <th>User name</th>
           <th>Password</th>
           <th>Roles</th>
           <th>Actions</th>
       </tr>
       </thead>
       <tbody>
       <tr th:each="user : ${users}">
           <td th:text="${user.id}">User Id</td>
           <td th:text="${user.firstName}">First name</td>
           <td th:text="${user.lastName}">Last name</td>
           <td th:text="${user.userName}">User name</td>
           <td th:text="${user.password}">Password</td>
           <td th:text="${user.getUserRole()}">Roles</td>
           <td>
               <form th:method="GET" th:action="@{/admin/{id}/edit(id=${user.getId()})}">
                   <input type="submit" value="Update"/>
               </form>
          <br>
               <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                   <input type="submit" value="Delete"/>
               </form>
           </td>
       </tr>
       </tbody>
   </table>
    <br><br>
    <button><a th:href="@{/logout}">Logout</a></button>
</div>
</body>
</html>